/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.jumbotron{
    padding-top: 0px;
    background: #fff;
}

.form-control,.input-group-text{
    border:1px solid #0080ff;
}

table.table-hover tbody tr:hover{
cursor: pointer;
}

label{
  font-weight: 500;
}

.asterisk {
	color: red;
	margin-right: 0.4rem;
	font-weight: bold;
}

p{
  margin-top: 0;
  margin-bottom: 0rem;
}